.wrap {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

.input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #777;
  outline: none;

  &:focus {
    border: 2px solid #111;
  }
}

.waypointList {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.waypointItem {
  background-color: #fff;
  margin-top: 10px;
  border: 2px solid #777;
  padding: 10px 40px 10px 20px;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  position: relative;
}

.deleteItemButton {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border: none;
  background-color: rgba(125, 0, 0, 0.8);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgba(200, 0, 0, 1);
  }

}
