.wrap {
  background-color: #666;
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
}

.waypointList {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;

  & > li {
    margin-top: 10px;
  }
}


.waypointItem {
  display: block;
  background-color: #fff;

  border: 2px solid #777;
  padding: 10px 40px 10px 20px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  user-select: none;
}

.deleteItemButton {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border: none;
  background-color: rgba(125, 0, 0, 0.8);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgba(200, 0, 0, 1);
  }

}
