@import "../../styles/variables";

.wrap {
  background-color: #666;
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $WAYPOINT) {
    max-width: 100%;
  }
}

.waypointListHelper {
  margin-top: 10px;
  padding: 3px;
  font-size: 80%;
  color: #eee;
}

.waypointList {
  list-style: none;
  display: flex;
  flex-direction: column;
  //background-color: red;

  & > li {
    padding: 5px 0;
  }
}

.inputAddWaypoint {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #777;
  outline: none;

  &:focus {
    border: 2px solid #111;
  }
}

.inputEditWaypointTitle {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid red;
}

.inputEditWaypointTitleSpan {
  display: block;
  border-bottom: 2px solid #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}


.waypointItem {
  display: block;
  background-color: #fff;

  border: 2px solid #777;
  padding: 10px 60px 10px 20px;
  border-radius: 10px;

  position: relative;
  user-select: none;
}

.deleteItemButton {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  border: none;
  background-color: rgba(125, 0, 0, 0.8);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgba(200, 0, 0, 1);
  }
}

.patchItemButton {
  position: absolute;
  right: 26px;
  top: 5px;
  padding: 5px;
  border: none;
  background-color: rgba(0, 125, 0, 0.8);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 200, 0, 1);
  }
}

.waypointItemTitle {
  display: flex;
}

.waypointItemLocation {
  display: block;
  margin-top: 5px;
  font-size: 80%;
}
