@import "../../styles/variables";

.wrap {
  background-color: #666;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  //min-height: 300px;
  max-height: $WAYPOINT;
  height: fit-content;
}

.helper {
  padding: 0 0 5px 0;
  font-size: 80%;
  color: #eee;
  height: 20px;
}

.mapWrap {
  border-radius: 15px;
}


